.box{
    background-color: pink;
    flex: auto;
    height: 100px;
    width: 100px;

}
.box2{
    background-color: limegreen;
    flex: auto;
    height: 100px;
    width: 100px;

}

input{

    margin: 10px;
    
}